html {
    scroll-behavior: smooth;
}

body {
    margin: 8px;
    line-height: 1.8;
}

li {
    list-style: none;
}

.color-font {
    color: #7f6666;
}

.content {
    width: 60%;
}

/* header */

header {
    width: 100%;
    overflow: hidden;
    display: block;
}

.h-logo {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}

.h-menu {
    float: right;
    font-size: 24px;
    margin: 20px 0;
}

.h-list {
    display: inline-block;
    padding: 10px 24px;
}

.h-a {
    text-decoration: none;
    color: black;
}

.h-a:hover {
    color: #ff0;
    transition: 0.3s;
}

/* main */

main {
    clear: both;
    margin: 0 auto;
}

.m-visual {
    /* background-image: url(../img/image1.png);
    background-repeat: no-repeat;
    background-position: center; */
    position: relative;
}

.m-v-img {
    width: 100%;
}

.m-v-contents {
    position: absolute;
    color: white;
    top: 50%;
    left: 20%;
    transform: translate(-40%, -50%);
    text-shadow: 0px 0px 5px #ffffff,
    0px 0px 10px #000000,
    0px 0px 20px #000000,
    0px 0px 40px #777777,
    0px 0px 60px #777777,
    0px 0px 80px #aaaaaa,
    0px 0px 100px #aaaaaa,
    0px 0px 120px #aaaaaa;
}

.m-title {
    font-size: 50px;
    font-weight: normal;
    padding: 15px;
}

.m-content {
    padding: 15px;
    margin: 0;
}

/* container */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.m-h2 {
    font-size: 45px;
    margin-top: 0px;
    padding-bottom: 25px;
}

.t-icon {
    margin: 0 auto;
    border-radius: 50%;
}

.m-p-str {
    font-weight: normal;
}

.skill-icons {
    width: 40%;
}

.s-icon {
    width: 30%;
    padding: 5px;
    margin-bottom: 10px;
}

.w-contents {
    width: 40%;
}

.w-contents a img {
    width: 30%;
}

.w-contents a {
    text-decoration: none;
}

.work {
    width: 40%;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 10px;
}

/* form */
form {
    text-align: center;
}

.contact {
    width: 100%;
    margin: 0 auto;
}

input,textarea {
    resize: none;
    width: 80%;
    margin: 6px;
}

input {
    height: 30px;
    font-size: 15px;
}

textarea {
    resize: none;
    height: 200px;
    font-size: 18px;
}

.next-u {
    width: 20%;
    height: 40px;
}

/* footer */

footer {
    width: 100%;
    overflow: hidden;
    background: rgb(226, 215, 211);
    padding: 20px 0;
    margin-top: 100px;
}

.footer-right {
    float: right;
    margin-right: 30px;
}

.f-p {
    font-size: 13px;
    color: #999999;
}

/* pagetop */

#pagetop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 16px;
}
#pagetop a {
    background-color: #666666;
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#pagetop a:hover {
    text-decoration: none;
    background-color: #999999;
}

/* sp-media */

.sp-t-icon {
    display: none;
}

.sp-skill-icon {
    display: none;
}

.sp-w-contents {
    display: none;
}

.btn {
    border: 1.5px solid #000000;
    border-radius: 5px;
    width: 100px;
}

.last-p {
    padding-bottom: 10px;
}
